.form-login {
    width: 30%;
    border-radius: 50px;
    box-shadow: 6px 6px 11px #c4c5c9, -6px -6px 11px #ffffff;
    color: #555;
    text-decoration: solid;
}

.form-login .fields input {
    border: none;
    outline: none;
    background: none;
    padding: 5px 3px 5px 3px;
}

.form-login .input-email,
.form-login .input-password {
    border-radius: 10px;
    box-shadow: inset 2px 2px 6px #c4c5c9, inset -2px -2px 6px #ffffff;
}

.form-login .btn {
    width: 80%;
    box-shadow: 6px 6px 11px #c4c5c9, -6px -6px 11px #ffffff;
}

.form-login .btn:hover {
    box-shadow: inset 2px 2px 6px #c4c5c9, inset -2px -2px 6px #ffffff;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .form-login {
        width: 100%;
    }
}

.card-dashboard-wrapper {
    background-color: unset !important;
    border: none !important;
}
.card-dashboard {
    width: 100%;
    background-color: #eeeeee;
    border-radius: 15px;
    box-shadow: 6px 6px 11px #c4c5c9, -6px -6px 11px #ffffff;
    color: #555;
    text-decoration: solid;
}

.page-item.active .page-link {
    background-color: rgb(225, 224, 224) !important;
}
.page-link {
    color: rgb(9, 147, 172) !important;
}

.form-step {
    padding-top: 100px;
}

.recommendation-wrapper-form {
    width: 100%;
    background-color: #eeeeee;
    border-radius: 15px;
    box-shadow: 6px 6px 11px #c4c5c9, -6px -6px 11px #ffffff;
    color: #555;
    text-decoration: solid;
}

.form-section {
    display: none;
}

.form-section.current {
    display: inherit;
}

.btn-multistep {
    margin-top: 10px;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    color: red;
}

.form-results {
    display: none;
    opacity: 0;
    transition: opacity 2s ease-in;
}

.loader {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
}

.img-loader {
    width: 40%;
}
