html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END CSS RESET */

body {
    background-color: #f7f6f6 !important;
}

/* DARK MODE */
/*@media (prefers-color-scheme: dark) {
    body {
        color: #eee !important;
        background-color: #272727 !important;
    }

    body a {
        color: #eee !important;
    }

    td,
    label,
    input,
    button,
    h1,
    h2,
    h3,
    h4,
    p {
        color: #eee !important;
    }

    input[type="text"],
    input[type="email"],
    input[type="search"],
    input[type="password"] {
        color: #272727 !important;
    }

    .input-email,
    .input-password {
        background-color: #eee !important;
    }

    .question-button-label,
    .dataTables_processing,
    .recommendation-wrapper-form,
    .form-login,
    .card-dashboard,
    button {
        box-shadow: 6px 6px 11px #c4c5c9, -6px -6px 11px #e4e4e4 !important;
    }

    .dropdown-item:hover {
        background-color: #292929 !important;
    }

    .table-form-result {
        border: 3px dashed #eee !important;
        width: 70% !important;
        margin: 0 auto !important;
    }

    .table-form-result th,
    .table-form-result td {
        border: 1px solid rgb(106, 106, 106) !important;
    }

    th {
        background-color: #303030 !important;
        color: #eee;
    }

    #a:checked + .question-button-label {
        color: #212121 !important;
    }

    #b:checked + .question-button-label {
        color: #212121 !important;
    }

    #ab:checked + .question-button-label {
        color: #212121 !important;
    }

    #o:checked + .question-button-label {
        color: #212121 !important;
    }

    .card-body,
    #sidebar-wrapper,
    .list-group-item,
    .modal-content,
    .dropdown-menu,
    .dataTables_processing,
    .page-link,
    .loader,
    button {
        background-color: #272727 !important;
    }
}*/

/* NAV */
.img-logo {
    width: 40%;
    height: auto;
    /* Recommended - Limit maximum width */
    max-width: 250px;
}
.nav-link {
    color: #00755f !important;
    font-weight: 500;
}

.nav-link-underline:hover {
    text-decoration: none;
    border-bottom: #d9ca63 0.125em solid;
}

.nav-neumorphism {
    padding: 0.5em 1em;
    border-radius: 0.6rem;
    border: none;
    outline: none;
    background-color: #f2f2f2;
    box-shadow: 4px 4px 6px #c4c5c9, -6px -6px 8px #ffffff;
}

.nav-neumorphism:hover {
    box-shadow: inset -2px -2px 6px #ffffff, inset -2px -2px 4px #ffffff,
        inset 2px 2px 2px rgba(255, 255, 255, 0.075),
        inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}
/* END NAV */

/* HOME PAGE */
.text-title-home {
    color: #00755f;
    font-weight: 800;
}

.text-shortdesc-home {
    color: #4a4737;
    font-weight: 500;
}

.btn-recommend-me-home {
    font-weight: 500;
    color: #00755f;
    padding: 0.5em 1em;
    border-radius: 0.6rem;
    border: none;
    outline: none;
    background-color: #f2f2f2;
    box-shadow: 4px 4px 6px #c4c5c9, -6px -6px 8px #ffffff;
}

.btn-recommend-me-home:hover {
    box-shadow: inset -2px -2px 6px #ffffff, inset -2px -2px 4px #ffffff,
        inset 2px 2px 2px rgba(255, 255, 255, 0.075),
        inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.card-home {
    justify-content: center;
    margin: 0 auto;
    border: none;
    outline: none;
    border-radius: 1rem !important;
    box-shadow: 4px 4px 6px #c4c5c9, -6px -6px 8px #ffffff;
}

.card-home:hover {
    box-shadow: inset -2px -2px 6px #ffffff, inset -2px -2px 4px #ffffff,
        inset 2px 2px 2px rgba(255, 255, 255, 0.075),
        inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.card-home .card-body {
    background-color: #f2f2f2;
    border-radius: 1rem !important;
}

.card-home .card-body:hover {
    box-shadow: inset -2px -2px 6px #ffffff, inset -2px -2px 4px #ffffff,
        inset 2px 2px 2px rgba(255, 255, 255, 0.075),
        inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.icon-home {
    color: #d9ca63;
}

.title-card-home {
    color: #00755f;
}

.card-desc-home {
    color: #4a4737;
}

/* END HOME PAGE */

/* LOGIN PAGE */
.form-login {
    width: 30%;
    border-radius: 50px;
    box-shadow: 6px 6px 11px #c4c5c9, -6px -6px 11px #ffffff;
    color: #555;
    text-decoration: solid;
}

.form-login .fields input {
    border: none;
    outline: none;
    background: none;
    padding: 5px 3px 5px 3px;
}

.form-login .input-email,
.form-login .input-password {
    border-radius: 10px;
    box-shadow: inset 2px 2px 6px #c4c5c9, inset -2px -2px 6px #ffffff;
}

.form-login .btn {
    width: 80%;
    box-shadow: 6px 6px 11px #c4c5c9, -6px -6px 11px #ffffff;
}

.form-login .btn:hover {
    box-shadow: inset 2px 2px 6px #c4c5c9, inset -2px -2px 6px #ffffff;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .form-login {
        width: 85%;
    }
}
/* END LOGIN PAGE */

/* MULTISTEP PAGE */
.card-dashboard-wrapper {
    background-color: unset !important;
    border: none !important;
}
.card-dashboard {
    width: 100%;
    border-radius: 15px;
    box-shadow: 6px 6px 11px #c4c5c9, -6px -6px 11px #ffffff;
    color: #555;
    text-decoration: solid;
}

.list-group-item {
    background-color: unset !important;
}

.form-step {
    padding-top: 100px;
}

.recommendation-wrapper-form {
    width: 100%;
    border-radius: 15px;
    box-shadow: 6px 6px 11px #c4c5c9, -6px -6px 11px #ffffff;
    color: #555;
    text-decoration: solid;
}

.form-section {
    display: none;
}

.form-section.current {
    display: inherit;
}

.btn-multistep {
    margin-top: 10px;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    color: red;
}

.form-results {
    display: none;
    opacity: 0;
    transition: opacity 2s ease-in;
}

.swiper-slide {
    padding: 3vw;
}

@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .swiper-slide {
        padding: 10vw;
    }
}

.btn-recommend-again,
.btn-download-pdf {
    font-weight: 500;
    padding: 0.7em 0.5em;
    border-radius: 0.6rem;
    border: none;
    outline: none;
    box-shadow: 6px 6px 8px #c4c5c9, -6px -6px 8px #ffffff;
}

.btn-download-pdf {
    color: #d6c556;
}
.btn-recommend-again {
    color: #00755f;
}

.btn-recommend-again:hover {
    box-shadow: inset -2px -2px 6px #ffffff, inset -2px -2px 4px #ffffff,
        inset 2px 2px 2px rgba(255, 255, 255, 0.075),
        inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.btn-download-pdf:hover {
    box-shadow: inset -2px -2px 6px #ffffff, inset -2px -2px 4px #ffffff,
        inset 2px 2px 2px rgba(255, 255, 255, 0.075),
        inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.table-form-result {
    border: 3px dashed #313131 !important;
    margin: 0 auto !important;
}

.table-form-result th,
.table-form-result td {
    border: 1px solid #313131;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f6f6;
    height: 100vh;
}

.img-loader {
    width: 40vw;
    height: 60vh;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .img-loader {
        width: 80vw;
        height: 50vh;
    }
}

.form-section {
    text-align: center;
}

.form-section .question-button-label {
    display: inline-block;
    padding: 1em 2em;
    margin: 0.5em;
    cursor: pointer;
    color: #00755f;
    font-weight: bold;
    border-radius: 0.25em;
    transition: 0.3s;
    user-select: none;
    box-shadow: 6px 6px 11px #c4c5c9, -6px -6px 11px #ffffff;
}

.form-section .question-button-label:hover {
    background-color: #d9ca63;
    color: #efefef;
}

.form-section .question-button-label:active {
    transform: scale(1.1);
    color: #efefef;
}

@media (max-width: 40em) {
    .question-button-label {
        padding: 0em 1em 3px;
        margin: 0.25em;
    }
}

.blood-icon {
    font-size: 200%;
}

#a:checked + .question-button-label {
    background-color: #d6c556;
    color: #efefef;
}

#b:checked + .question-button-label {
    background-color: #d6c556;
    color: #efefef;
}

#ab:checked + .question-button-label {
    background-color: #d6c556;
    color: #efefef;
}

#o:checked + .question-button-label {
    background-color: #d6c556;
    color: #efefef;
}

.form-section .question-circle-radio {
    display: none;
}

#cowsmilk:checked + .question-button-label {
    background-color: #00755f;
    color: #efefef;
}

#egg:checked + .question-button-label {
    background-color: #00755f;
    color: #efefef;
}

#treenut:checked + .question-button-label {
    background-color: #00755f;
    color: #efefef;
}

#peanut:checked + .question-button-label {
    background-color: #00755f;
    color: #efefef;
}

#shellfish:checked + .question-button-label {
    background-color: #00755f;
    color: #efefef;
}

#wheat:checked + .question-button-label {
    background-color: #00755f;
    color: #efefef;
}

#soy:checked + .question-button-label {
    background-color: #00755f;
    color: #efefef;
}

#fish:checked + .question-button-label {
    background-color: #00755f;
    color: #efefef;
}

.form-section .question-square-checkbox {
    display: none;
}

/* END MULTISTEP PAGE */

/* FOOTER */
.social-github-icon,
.social-twitter-icon,
.social-instagram-icon {
    margin: 0.3rem;
    color: rgb(102, 100, 100);
    padding: 0.7em;
    border-radius: 3rem;
    border: none;
    outline: none;
    background-color: #f2f2f2;
    box-shadow: 4px 4px 6px #c4c5c9, -6px -6px 8px #ffffff;
}

.social-github-icon:hover {
    color: #333333;
    box-shadow: inset -2px -2px 6px #ffffff, inset -2px -2px 4px #ffffff,
        inset 2px 2px 2px rgba(255, 255, 255, 0.075),
        inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.social-twitter-icon:hover {
    color: #00acee;
    box-shadow: inset -2px -2px 6px #ffffff, inset -2px -2px 4px #ffffff,
        inset 2px 2px 2px rgba(255, 255, 255, 0.075),
        inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.social-instagram-icon:hover {
    color: #c13584;
    box-shadow: inset -2px -2px 6px #ffffff, inset -2px -2px 4px #ffffff,
        inset 2px 2px 2px rgba(255, 255, 255, 0.075),
        inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}
/* END FOOTER */
